.PasswordDisplay {
    display: flex;

    .password-text {
        flex-grow: 1;

        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none; /* IE and Edge */

        font-size: 2rem;
        white-space: nowrap;
        margin-right: 24px;
    }

    .button-section {
        flex-shrink: 0;
        position: relative;

        display: flex;
        align-items: center;
        gap: 1em;

        .btn-copy,
        .btn-reset {
            cursor: pointer;
            font-size: 3rem;
            padding: .4rem;
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
            color: #3d3225;
            border-radius: 12px;

            path {
                transform-origin: center center;
            }

            transition: transform 0.1s ease-out;
            &:active {
                transform: translateY(2px);
            }
        }
        
        .btn-copy:hover {
            animation: jump 0.3s ease-out;
        }
        .btn-reset:hover path {
            animation: fullRotate 0.3s ease-out;
        }

        /* Left side white fade */
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 30px;
            left: -54px;
            z-index: 1;
            pointer-events: none;
            background: linear-gradient(to right, transparent, var(--card-background-color));
        }
    }
}

@keyframes fullRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}